body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: small;
    background-color: honeydew;
}

h1 {
    color: chocolate;
    font-size: large;
    font-weight: bolder;
}

ul {
    background-color: white;  
    border: 1px black dotted;
    padding: 5px; 
    margin: 10px; 
  }

li {
    color: blue;
    font-size: medium;
}
